<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[ETTrip] Thailand 2024</title>
    <!-- Include Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style>
        body {
            font-size: 16px;
            font-family: 'Courier New', Courier, monospace;
        }

        strong {
            color: green;
            font-weight: 1000;
        }

        button {
            margin: .125rem;
            display: flex;
            align-items: center;
        }

        li {
            list-style-type: none;
        }
    </style>
    <link rel="shortcut icon" href="https://www.longtailboatphiphi.com/img/favicon.ico" type="image/svg+xml" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body>
    <style>
        .modal-may-2021 {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 10px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #000;
            background-color: rgba(0, 0, 0, .9)
        }

        .modal-content-may-2021 {
            margin: auto;
            display: block;
        }

        .modal-content-may-2021 {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: .6s;
            animation-name: zoom;
            animation-duration: .6s
        }

        @-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0)
            }

            to {
                -webkit-transform: scale(1)
            }
        }

        @keyframes zoom {
            from {
                transform: scale(0)
            }

            to {
                transform: scale(1)
            }
        }

        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: 700;
            transition: .3s
        }

        .close:focus,
        .close:hover {
            color: #bbb;
            text-decoration: none;
            cursor: pointer
        }

        @media only screen and (max-width:700px) {
            .modal-content-may-2021 {
                width: 100%
            }
        }

        #my-modal-may-2021 {
            z-index: 9999999 !important
        }
    </style>
    <div id="my-modal-may-2021" class="modal-may-2021" style="display: none;"><span class="close">×</span><a
            href="#"><img class="modal-content-may-2021" id="modal-img-may-2021" width="70%" height="90%"
                src="fav.svg"></a></div>
    <script>
        $().ready(function () {

            document.getElementsByClassName('close')[0].onclick = function () { $('.modal-may-2021').fadeOut('fast') }
            $('.modal-may-2021').click(function () { $(this).fadeOut('slow') })

        });

    </script>
    <h1 style="margin: 0 auto;">[ETTrip] Thailand 2024</h1>
    <h2><img width="32" height="32" src="https://www.longtailboatphiphi.com/img/favicon.ico" /> Lịch trình</h2>
    <div id="app">
        <ul>
            <li v-for="(day, dayName) in schedule" :key="dayName">
                <div style="display: flex; align-items: center;">
                    <button style="padding: .3rem; color: green; font-weight: bold;" @click="toggleDay(dayName)"><img
                            src="fav.svg" style="width: 18px; height: 18px; margin-right: .3rem;" />{{ dayName }}
                        ▼</button>
                    <a style="text-decoration: none; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                        href="#" @click="showMap(dayName)">👉 Map</a>
                </div>

                <ul v-show="isOpenDay(dayName)">
                    <li v-for="(activities, timeSlot) in day" :key="timeSlot">
                        <h3>
                            <button @click="toggleTimeSlot(dayName, timeSlot)"><time-of-day
                                    :time-slot="timeSlot"></time-of-day>{{ timeSlot }} ▼</button>
                        </h3>
                        <ul v-show="isOpenTimeSlot(dayName, timeSlot)">
                            <li v-if="typeof activities === 'object'" v-for="(activity, activityTime) in activities"
                                :key="activityTime">
                                <strong>{{ activityTime }}</strong>:&nbsp;
                                <span v-if="typeof activity === 'object'">{{activity.title}}
                                    <div v-for="(ref, index) in activity.refs" :key="index" style="margin: 5px;">
                                        <iframe width="560" height="315" :src="`https://www.youtube.com/embed/${ref}`"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                                        </iframe>
                                    </div>
                                </span>
                                <span v-else v-html="activity"></span>
                            </li>
                            <li v-else>{{ activities }}</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <h2><img width="32" height="32" src="https://www.longtailboatphiphi.com/img/favicon.ico" /> Tài liệu: </h2>
    - <a href="https://docs.google.com/spreadsheets/d/1BfEGy48rWjUeRfMEqBLNZErqpDZIDRvdNG3RSV7c56E/edit#gid=1877969924"
        style="text-decoration: none; font-family: &quot;Segoe UI&quot;, Tahoma, Geneva, Verdana, sans-serif;"
        target="_blank">👉 Sheet</a> <br />
    - <a href="https://docs.google.com/document/d/1aX2NZbOY_IAMcSREOPuDhTVrOs3fexJ0S7OHMr2GMHM/edit"
        style="text-decoration: none; font-family: &quot;Segoe UI&quot;, Tahoma, Geneva, Verdana, sans-serif;"
        target="_blank">👉 Doc</a>
    <h2><img width="32" height="32" src="https://www.longtailboatphiphi.com/img/favicon.ico" /> Chi phí max : 150tr</h2>
    <div style="padding-left:50px">
        Máy bay :<br />
        Sim: <br />
        Tàu : <br />
        Khách sạn: <br />
        Taxi : tr<br />
        Thuế bảo vệ môi trường Koh Phi Phi : 20 bath/ người<br />
        Thuế bảo vệ môi trường Maya bay: 400 bath / người <br />

        Chi phí cứng : tr<br />
        Chi phí mềm : tr <br />
        Ăn : (500k / người ngày)<br />
        Chơi : tr => tr/ người<br />
    </div>
    <script>
        const TimeOfDay = {
            props: ['timeSlot'],
            computed: {
                src() {
                    let name = '';
                    if (this.timeSlot.includes("Sáng")) {
                        name = 'morning';
                    } else if (this.timeSlot.includes("Trưa")) {
                        name = 'noon';
                    } else if (this.timeSlot.includes("Chiều")) {
                        name = 'afternoon';
                    } else if (this.timeSlot.includes("Tối")) {
                        name = 'moon';
                    }
                    return name + ".png";
                },
            },
            template: `<img :src="src" style="width: 32px; height: 32px; margin-right:.2rem"/>`,
        };

        Vue.component('time-of-day', TimeOfDay);

        var app = new Vue({
            el: '#app',
            data: {
                openDays: {},
                openTimeSlots: {},
                schedule: {
                    "Thứ 6: Tp.HCM ➛ Phuket ➛ Phi Phi": {
                        "Sáng : Bay ra Phuket": {
                            "6h - 9h": "Đi sân bay Tân Sơn Nhất",
                            "11h -  11h30": "Checkin sân Phuket",
                            "11h30 -  12h30": "Đi taxi ra Rassada Pier"
                        },
                        "Trưa : Đi tàu ra Koh Phi Phi": {
                            "12h30 - 13h30": { title: "Ăn nhanh tại bến tàu, không có nhà hàng", refs: ["4Ei83N_SLdE?si=bNcffu56E3SnDmX_"] },
                            "14h - 15h": "Đi tàu Speedboat tới Phi Phi",
                            "15h - 16h30": "Checkin khách sạn nghỉ ngơi"
                        },
                        "Chiều : Leo núi checkin View Point [1,2],[3]": {
                            "16h30 - 18h": {
                                "title": "Leo núi checkin Viewpoint 1,2",
                                "refs": ["N5Qx2l_Yh9Q?si=Weox8iPQ2_hTMTtH", "EaztsY-C3ck?si=J6KUNQKOzjvUbytz"],
                            },
                            "18h": "Đủ thời gian thì đi Viewpoint 3",
                        },
                        "Tối : Khám phá North Koh Phi Phi": {
                            "19h - 21h": "Ăn tại làng chài Tonsai(đường Chao Koh)",
                            "21h - 23h": { title: "Xem hội chợ biển", refs: ["pf04yFvEOjA?si=_3FKlf9kl7NhkfiS"] },
                        }
                    },
                    "Thứ 7: Koh Phi Phi": {
                        "Sáng : Trekking khám phá Phi Phi ": {
                            "8h": "Ăn sáng, cafe",
                            "8h - 12h": "Đi bộ quanh đảo khám phá phố, núi, rừng Koh Phi Phi",
                        },
                        "Trưa : Ăn trưa & book tour  ": {
                           "12h -18h": "Ăn trưa nghỉ ngơi trên đảo"
                        },
                        "Chiều : Tour Phi Phi Leh (Tham quan, lặn biển ngắm san hô tại các điểm dừng)": {
                            "14h - 18h": {
                                title: "Đi Viking Cave ➛ Pieh Bay ➛ Loh Samah bay ➛ Maya bay. Nhớ đêm đồ ăn theo, Maya đẹp nhưng cơm dở. Maya beach không được tắm, chỉ ngắm cảnh chụp ảnh",
                                refs: ["lTO7U7SpUFU?si=acl8VlVgQCFeHOYd&amp;clip=Ugkxf7Xm6EPSGI6-oXs9xYWHPBMQTnvN9rd9&amp;clipt=ENnXCBi5rAw"]
                            }
                        },
                        "Tối : Khám phá South Koh Phi Phi": {
                            "18h - 20h": "Ăn tối",
                            "20h - 21h": "Join CBD shop",
                            "21h - 23h": "Join Beer Club"
                        }
                    },
                    "Chủ nhật: Koh Phi Phi ➛ Phuket ": {
                        "Sáng : Đi tàu về lại Phuket": {
                            "7h - 9h": "Last breakfast vs Koh Phi Phi",
                            "9h - 11h": "Lên tàu Ferry Boat về Phuket",
                            "11h - 11h30": "Đi taxi về Patong beach(Trung tâm Phuket)"
                        },
                        "Trưa : Checkin khách sạn tại Phuket": {
                            "12h - 14h": "Ăn trưa tại quán gần khách sạn (?)",
                            "14h - 16h": "Checkin khách sạn nghỉ ngơi"
                        },
                        "Chiều : Dạo biển Patong Phuket": {
                            "16h - 18h": "Đi bộ bãi biển Patong"
                        },
                        "Tối : Khám phá phố đêm Bangla Phuket": {
                            "18h - 23h": "Ăn tối và đi chợ đêm Phuket khu đường Bangla"
                        }
                    },
                    "Thứ 2: Phuket ➛ Tp. HCM": {
                        "Sáng : Về lại Tp.HCM": {
                            "6h - 9h": "Đi ra sân bay Phuket"
                        },
                    }
                },
                maps: {
                    "Thứ 6: Tp.HCM ➛ Phuket ➛ Phi Phi": "https://img001.prntscr.com/file/img001/qNRyj29mRAWhjV7G05aiig.png",
                    "Thứ 7: Koh Phi Phi": "https://img001.prntscr.com/file/img001/5KWXgP3DTSet5l7xj69Hsw.png",
                    "Chủ nhật: Koh Phi Phi ➛ Phuket ": "https://img001.prntscr.com/file/img001/k9E1u9eMTv-N0kV5786GZg.png",
                    "Thứ 2: Phuket ➛ Tp. HCM": "https://www.longtailboatphiphi.com/picture/tours/1568801862_map.jpg"
                }
            },
            mounted() {
                // Expand all first-level parents by default
                for (const dayName in this.schedule) {
                    this.$set(this.openDays, dayName, false);
                }
                // Close all second-level parents by default
                for (const dayName in this.schedule) {
                    for (const timeSlot in this.schedule[dayName]) {
                        this.$set(this.openTimeSlots, `${dayName}_${timeSlot}`, false);
                    }
                }
            },
            methods: {
                toggleDay(dayName) {
                    this.$set(this.openDays, dayName, !this.isOpenDay(dayName));
                },
                isOpenDay(dayName) {
                    return this.openDays.hasOwnProperty(dayName) ? this.openDays[dayName] : false;
                },
                toggleTimeSlot(dayName, timeSlot) {
                    const key = `${dayName}_${timeSlot}`;
                    this.$set(this.openTimeSlots, key, !this.isOpenTimeSlot(dayName, timeSlot));
                },
                isOpenTimeSlot(dayName, timeSlot) {
                    const key = `${dayName}_${timeSlot}`;
                    return this.openTimeSlots.hasOwnProperty(key) ? this.openTimeSlots[key] : false;
                },
                showMap(dayName) {
                    var modal = $('#my-modal-may-2021'),
                        mi = $('#modal-img-may-2021');
                    modal.css('display', 'block')
                    mi.attr('src', this.maps[dayName])
                }
            }
        })
    </script>
</body>

</html>
